.view-container {
    margin: auto;
    border-radius: 10px;
    padding: 20px;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(
        to right,
        #6a11cb,
        #325cbf,
        #0699c9,
        #91d6e6,
        #d7f1f7,
        #f3f5f5
      );
      color: white;
      padding: 15px;
  
      .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      h2 {
        margin: 0;
        font-size: 1.5rem;
      }
  
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  
    .view-detail {
      margin: 40px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .section {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .title {
          font-size: 18px;
          font-weight: 700;
          margin: 0;
        }
        .description {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }