.container {
    margin: auto;
    border-radius: 10px;
    padding: 20px;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(
        to right,
        #6a11cb,
        #325cbf,
        #0699c9,
        #91d6e6,
        #d7f1f7,
        #f3f5f5
      );
      color: white;
      padding: 15px;
  
      .title {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      h2 {
        margin: 0;
        font-size: 1.5rem;
      }
  
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  
    .custom-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border-collapse: separate; // Asegura que los bordes no colapsen
      border-spacing: 0 15px; // Espaciado entre filas (horizontal y vertical)
      th,
      td {
        padding: 20px 15px; // Espaciado interno en celdas
        text-align: left; // Alineación del texto
        font-size: 1rem;
      }
  
      th {
        text-align: left;
        background: #ffffff;
        color: #6a11cb;
        padding: 10px;
      }
  
      td {
        padding: 10px;
        text-align: left;
      }
  
      tr {
        color: #6a11cb;
        font-weight: 700;
        cursor: pointer;
        &:nth-child(even) {
          background-color: #eaf6ff;
        }
  
        &:nth-child(odd) {
          background-color: #f5e7ff;
        }
      }
  
      .btn-icon {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        color: #6a11cb;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }